.app{
    background-color: #f1f2f5;
    min-height: 100vh;
}

.app_body{
    display: flex;
    justify-content: space-between;
}

.body_center{
    flex: 1;
}
@media screen and (max-width:700px) {
    .app_body{
        flex-direction: column;
    }
}